body {
    background-color: black;
    overflow: hidden;
}

.vijand {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 40px;
    position: relative;
}

.speler {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 40px;
    position: absolute;
}

#tijd {
    border: 1px solid yellow;
    width: 10vw;
    height: 3vh;
    margin-left: calc(50vw - 50px);
    color: yellow;
    text-align: center;
}

#score {
    color: limegreen;
    float: right;
    font-size: 18px;
}

#uitgang {
    border: 3px solid green;
    height: 10vh;
    width: 3vw;
    float: right;
    margin-right: -14;
    margin-top: calc(51vh - 50px);
}

#uitgang2 {
    border: 1px solid white;
    height: 5vh;
    width: 1vw;
    float: right;
    margin-top: calc(55vh - 50px);
}

#welkombox {
    font-family: Arial, verdana, sans-serif;
    width: 30vw;
    height: 30vh;
    padding: 1%;
    margin-left: calc(38vw - 50px);
    text-align: center;
    font-size: 20px;
    background: #0073e6;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
    -webkit-animation: beweegAnimation 5s;
    -webkit-animation-fill-mode: forwards;
    animation: beweegAnimation 5s;
    animation-fill-mode: forwards;
}

#welkom {
    font-weight: bold;
}

#StartHard,
#StartNormaal,
#StartEasy {
    background-color: #40bf40;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#verlorenbox {
    font-family: Arial, verdana, sans-serif;
    width: 20vw;
    height: 20vh;
    margin-left: calc(45vw - 50px);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #0073e6;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
    -webkit-animation: beweegAnimation 3s;
    -webkit-animation-fill-mode: forwards;
    animation: beweegAnimation 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes beweegAnimation {
    from {
        top: 0px;
    }
    to {
        top: 30vh;
    }
}

@keyframes beweegAnimation {
    from {
        top: 0px;
    }
    to {
        top: 30vh;
    }
}

@media screen and (max-width: 600px) {
    body {
        overflow: hidden;
        position: static;
    }
    .vijand {
        width: 15px;
        height: 15px;
    }
    .speler {
        width: 15px;
        height: 15px;
    }
    #tijd {
        width: 30vw;
        margin-left: calc(45vw - 50px);
    }
    #uitgang {
        height: 10vh;
        width: 8vw;
        float: right;
        margin-top: calc(51vh - 50px);
    }
    #welkombox {
        width: 85vw;
        height: 38vh;
        margin-left: calc(20vw - 50px);
    }
    #verlorenbox {
        width: 85vw;
        height: 25vh;
        margin-left: calc(20vw - 50px);
    }
}